body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img {
    display: block 
}

a{
    text-decoration: none;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-container {
   display: flex;
   align-items: center;  
}

.header-nav {
    display: flex;
    align-items: center;
}

.page-header{
    border-bottom: 1px solid #e7e9fc;  
}


.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
  }

  .header-logo {
    padding: 24px 0px;
    margin-right:76px;
  }
  
  .header-logo .logo-part {
    color: #2e2f42;
  }
  
  .footer-logo .logo-part {
    color: #f4f4fd;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  
  .contacts {
    font-style: normal;
    margin-left: auto;
  }

  .contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  
  .contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  
  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }

  .hero{
    background-color: #2e2f42;
    padding-bottom: 120px;
    padding: 188px 0;
    text-align: center;
  }
  
.hero-title {
    color: #FFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto 48px auto;
    
}

.hero-order {
    display: block;
    font-family: inherit;
    background-color: #4D5AE5;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    margin-bottom: 48px;
    border-radius: 4px;
    height: 56px;
    padding: 16px 32px;
    min-width: 169px;
    margin: 0 auto;
    border: none;
}

.hero-order:hover,
.hero-order:focus {
    background-color:#404BBF
}

.advantage {
    background-color: white;
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    color: #2e2f42;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.advantage-list {
    display: flex;
    gap: 24px;

}
.advantage-item {
    width: calc((100% - 72px) / 4);
}
.advantage-subtitle {
    font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.advantage-item-text {
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
}

.team{
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.employee-container {
    padding: 32px 0px;
}
.team-title {
text-transform: capitalize;
margin-bottom: 72px;
font-weight: 700;
font-size: 36px;
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
.team-list {
    display: flex;
    gap: 24px;
}
.team-item {
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    width: calc((100% - 24px * 3) / 4);
}
.team-img {
    width: "264";
}
.team-subtitle {
text-align: center;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px
}
.team-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
text-transform: capitalize;
text-align: center;
margin-bottom: 72px;
font-weight: 700;
font-size: 36px;
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-item-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-img {
    width: "360";
    margin-bottom: 32px;
}
.portfolio-subtitle {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}
.portfolio-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;;
}
 
.footer {
    background: #2E2F42;
    padding: 188px 472px 292px 472px;
    text-align: left;
    padding-top: 120px;
    padding: 100px 0;
}

.footer-logo {
    display: inline-block;
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.footer-span-logo{
    color: #F4F4FD;
}

.studio-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    max-width: 264px;
    margin: o auto;
}